<h2 *ngIf="id !== null">Edit</h2>
<h2 *ngIf="id === null">Create</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />

    <mat-error *ngIf="hasFieldError('name', 'required')"
      >El campo es requerido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Birthdate</mat-label>
    <input matInput formControlName="birthdate" [matDatepicker]="picker" />

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="hasFieldError('birthdate', 'required')"
      >El campo es requerido</mat-error
    >
  </mat-form-field>

  <button *ngIf="id === null" mat-raised-button type="submit" color="primary">
    Create
  </button>
  <button *ngIf="id !== null" mat-raised-button type="submit" color="primary">
    Update
  </button>
</form>
