<h2>Books</h2>
<a mat-raised-button color="primary" [routerLink]="['/', 'books', 'create-v3']">
  <mat-icon>add</mat-icon> Create
</a>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table class="library-table">
  <thead>
    <tr>
      <th name="name" (click)="sortTable($event)">Name</th>
      <th name="author" (click)="sortTable($event)">Author</th>
      <th name="stock" (click)="sortTable($event)">Stock</th>
      <th name="price" (click)="sortTable($event)">Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of filteredBookList">
      <td>
        {{ book.name }}
      </td>
      <td>
        {{ book.author }}
      </td>
      <td>
        {{ book.stock }}
      </td>
      <td>
        {{ book.price }}
      </td>

      <td class="col-centered">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="More options"
        >
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <a
            mat-menu-item
            color="primary"
            [routerLink]="['/', 'books', book.id, 'edit-v3']"
          >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </a>
          <button mat-menu-item color="warn" (click)="openDeleteDialog(book)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>
