<h2>Countries</h2>
<a
  mat-raised-button
  color="primary"
  [routerLink]="['/', 'countries', 'create-v3']"
>
  <mat-icon>add</mat-icon> Create
</a>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<table class="library-table">
  <thead>
    <tr>
      <th name="name" class="sort-column-align" (click)="sortTable($event)">
        Name
        <mat-icon *ngIf="showArrow('name', 'desc')">arrow_downward</mat-icon>
        <mat-icon *ngIf="showArrow('name', 'asc')">arrow_upward</mat-icon>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of filteredCountryList">
      <td>
        {{ country.name }}
      </td>
      <td class="col-centered">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="More options"
        >
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <a
            mat-menu-item
            color="primary"
            [routerLink]="['/', 'countries', country.id, 'edit-v3']"
          >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </a>
          <button
            mat-menu-item
            color="warn"
            (click)="openDeleteDialog(country)"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>
