<app-top-bar (toggleSidenav)="toggleSidenav()"></app-top-bar>

<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'side'">
    <mat-list class="nav">
      <a
        mat-list-item
        routerLinkActive="active-link"
        class="hover"
        [routerLink]="['']"
      >
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Home</div>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        class="hover"
        [routerLink]="['categories']"
      >
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Categories</div>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        class="hover"
        [routerLink]="['books']"
      >
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Books</div>
      </a>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- <router-outlet></router-outlet> -->
