
:host {
  align-self: center;
  @media screen and (min-width: 600px) {
    width: 400px;
  }
  mat-card {
    margin: auto;
    mat-card-content {
      form {
        mat-form-field {
          width: 100%;
        }
        .term-and-conditions {
          margin: 0 12px;
        }

        .action-buttons-container {
          display: flex;
          button {
            flex-grow: 1;
          }
        }
      }
    }
    mat-card-actions {
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 100%;
      padding-left: 16px;
      padding-right: 16px;
      button {
        width: 100%;
      }
    }
  }
}
