<h2>Authors</h2>
<a mat-raised-button color="primary" [routerLink]="['/', 'authors', 'create']">
  <mat-icon>add</mat-icon> Create
</a>
<table class="library-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authorList">
      <td>
        {{ author.name }}
      </td>
      <td class="col-centered">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="More options"
        >
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <a
            mat-menu-item
            color="primary"
            [routerLink]="['/', 'authors', author.id, 'edit-v3']"
          >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </a>
          <button mat-menu-item color="warn" (click)="openDeleteDialog(author)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>
