<h2>Users</h2>
<a mat-raised-button color="primary" [routerLink]="['/', 'users', 'create-v3']">
  <mat-icon>add</mat-icon> Create
</a>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<table class="library-table">
  <thead>
    <tr>
      <th name="name" class="sort-column-align" (click)="sortTable($event)">
        Name
        <mat-icon *ngIf="showArrow('name', 'desc')">arrow_downward</mat-icon>
        <mat-icon *ngIf="showArrow('name', 'asc')">arrow_upward</mat-icon>
      </th>
      <th name="email" class="sort-column-align" (click)="sortTable($event)">
        Email
        <mat-icon *ngIf="showArrow('email', 'desc')">arrow_downward</mat-icon>
        <mat-icon *ngIf="showArrow('email', 'asc')">arrow_upward</mat-icon>
      </th>
      <th name="password" class="sort-column-align" (click)="sortTable($event)">
        Password
        <mat-icon *ngIf="showArrow('password', 'desc')"
          >arrow_downward</mat-icon
        >
        <mat-icon *ngIf="showArrow('password', 'asc')">arrow_upward</mat-icon>
      </th>
      <th name="role" class="sort-column-align" (click)="sortTable($event)">
        Role
        <mat-icon *ngIf="showArrow('role', 'desc')">arrow_downward</mat-icon>
        <mat-icon *ngIf="showArrow('role', 'asc')">arrow_upward</mat-icon>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of filteredUserList">
      <td>
        {{ user.name }}
      </td>
      <td>
        {{ user.email }}
      </td>
      <td>
        {{ user.password }}
      </td>
      <td>
        {{ user.role }}
      </td>

      <td class="col-centered">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="More options"
        >
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <a
            mat-menu-item
            color="primary"
            [routerLink]="['/', 'users', user.id, 'edit-v3']"
          >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </a>
          <button mat-menu-item color="warn" (click)="openDeleteDialog(user)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>
